/*CSS RESET*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*STYLE CSS*/
html {
  zoom: 80%;
  background-color: #eac9f8;
}

header{
  display: flex;
  padding: 20px;
  background-color: #f2e329;
}

nav{
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/*first-section style*/

.first-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eac9f8;
}
.first-section > img {
  max-width: 900px;
  max-height: 900px;
  width: auto;
  height: auto;
}
.opening-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/*Second-Section*/
.second-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b7c9e;
  font-size: 30px;
}

/*recipe-page*/
.recipe-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eac9f8;
}
.recipe-page h1{
  padding: 18px;
}